.slider-wrapper {
    background-color: #aaa;
    background: #f5f5f2 url('img/gallery.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel {
    display: flex;
    align-items: center;
    align-content: center;
    min-height: 80vh;
}

